<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style-3.css">
    <title>My Presentation</title>
</head>

<body>
    <header class="sgt-inner-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 d-flex align-items-center">
                    <h5 class="inner-logo">Logo</h5>
                </div>
                <div class="col-md-10 d-flex align-items-center justify-content-end">
                    <div class="col-md-3 d-flex align-items-center justify-content-between">
                        <button type="button" class="btn btn-success">
                                <span class="">
                                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" role="img" height="16px" width="16px" class="r-svg">
                                        <g color="currentColor">
                                            <g fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
                                            </g>
                                        </g>
                                    </svg>
                                    <span font-family="body" font-size="2" class="">Upgrade</span>
                                </span>
                            </button>
                        <div id="help-icon">
                            <button id="help-thumbnail" class="btn btn-link d-flex">
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" role="img" height="24px" width="24px" class="r-svg">
                                    <g color="rgba(16, 24, 52, 0.75)">
                                        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                                            <line x1="12" y1="17" x2="12" y2="17"></line>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </div>
                        <nav class="navbar-expand-sm">
                            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button> -->
                            <div class="collapse navbar-collapse" id="navbar-list-4">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link profile-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            SGT
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <!-- <a class="dropdown-item" href="#">Dashboard</a>
                                        <a class="dropdown-item" href="#">Edit Profile</a> -->
                                            <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="my-profile-section">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-2 p-0 border-right mp-sidebar-menu">
                    <nav class="navbar-expand h-100 pt-4">
                        <div class="collapse navbar-collapse h-100 flex-column" id="navbarSupportedContent">
                            <div class="w-100">
                                <h3 class="sgt-st-title pl-3">Workspace</h3>
                                <ul class="navbar-nav mr-auto flex-column vertical-nav pl-3 pr-3 pb-4">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="my-presentation.html"><i class="fas fa-home"></i> My Presentations       </a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fas fa-globe"></i> Community</a>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="border-top pt-3 w-100">
                                <h3 class="sgt-st-title pl-3">Account</h3>
                                <ul class="navbar-nav mr-auto flex-column vertical-nav pl-3 pr-3">
                                    <li class="nav-item">
                                        <a class="nav-link" href="my-profile.html"><i class="fas fa-user-circle"></i> My Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="my-plan.html"><i class="fas fa-file-invoice-dollar"></i> My Plan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="payment.html"><i class="fas fa-wallet"></i> Payment</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fas fa-sign-out-alt"></i> Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col-10">
                    <!-- <div class="container">
                            <nav aria-label="breadcrumb" class="py-3">
                                <ol class="breadcrumb bg-white mb-0">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div> -->
                    <div class="container pt-3">
                        <h3 class="sgt-page-title pt-4 pb-4 mb-5 border-bottom">My Presentations  </h3>
                    <script>
                        var naaa= "<%= folder %>";
                        console.log('fodler   ',naaa);

                    </script>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="dropdown">
                                    <a class="btn btn-primary dropdown-toggle" href="#!" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" role="img" height="16px" width="16px" class="r-svg"><g color="currentColor"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></g></g></svg>&nbsp;
                                        New
                                    </a>

                                    <div class="dropdown-menu w-100 mt-3" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#!" data-mdb-toggle="modal" data-mdb-target="#exampleModal"><i class="fas fa-file"></i> New Presentation</a>
                                        <a class="dropdown-item" href="#!" data-mdb-toggle="modal" data-mdb-target="#new-folder"><i class="fas fa-folder"></i> New Folder</a>
                                    </div>
                                </div>

                                <!-- New Presentation -->
                                <div class="modal fade sgt-inner-popup" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered sgt-modal-md">
                                        <div class="modal-content">
                                            <div class="modal-header border-0">
                                                <h5 class="modal-title" id="exampleModalLabel">Create New Presentation</h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="#" class="profile-form">
                                                    <div class="form-group mb-4">
                                                        <label for="sgt-p-name">Presentation Name</label>
                                                        <input type="text" class="form-control" id="sgt-p-name" placeholder="Enter Presentation Name">
                                                    </div>
                                                    <div class="form-group mb-4">
                                                        <label for="sgt-p-name">Access Code</label>
                                                        <div class="d-flex align-items-center sgt-access-code-input">
                                                            <p class="mb-0">https://domain.com/</p><span><input type="text" class="form-control" id="sgt-p-name" placeholder="Code"></span>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer border-0">
                                                <button type="button" class="btn btn-light" data-mdb-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">
                                                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" role="img" height="16px" width="16px" class="r-svg"><g color="currentColor"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></g></g></svg>&nbsp; Create Presentation
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- New Presentation -->

                                <!-- New Folder -->
                                <div class="modal fade sgt-inner-popup" id="new-folder" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered sgt-modal-md">
                                        <form action="/api/createFolder" method="POST">
                                            <input type="text"  style="visibility: hidden;" id="id" name="id"> 
                                            <div class="modal-content pb-2">
                                                <div class="modal-header border-0">
                                                    <h5 class="modal-title" id="exampleModalLabel">Create New Folder</h5>
                                                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group mb-0">
                                                        <input type="text"  name="folderName" class="form-control" maxlength="150" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer border-0">
                                                    <button type="button" class="btn btn-light" data-mdb-dismiss="modal">
                                                            Cancel
                                                        </button>
                                                    <button type="submit" class="btn btn-primary">
                                                            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" role="img" height="16px" width="16px" class="r-svg"><g color="currentColor"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></g></g></svg>
                                                            &nbsp; Create Folder
                                                        </button>
                                                </div>
                                            </div>
                                        </form>
                                      
                                        <script>
                                            let userid=localStorage.getItem("loginUserID");
                                            document.getElementById("id").value=userid;
                                        </script>
                                    </div>
                                </div>
                                <!-- New Folder -->
                                <button class="btn btn-light mx-3">
                                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" role="img" height="16px" width="16px" class="r-svg"><g color="currentColor"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></g></g></svg>
                                    &nbsp; Import
                                </button>
                            </div>
                            <div class="dropdown">
                                <a class="btn btn-primary dropdown-toggle" href="#!" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Sort by Recently Updated
                                </a>

                                <div class="dropdown-menu w-100 mt-3" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#!">Alphabetical</a>
                                    <a class="dropdown-item" href="#!">Alphabetical (reversed)</a>
                                    <a class="dropdown-item" href="#!">Recently updated</a>
                                    <a class="dropdown-item" href="#!">Recently created</a>
                                    <a class="dropdown-item" href="#!">Oldest (update time)</a>
                                    <a class="dropdown-item" href="#!">Oldest (creation time)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container mt-4 sgt-slide-lists">
                        <div class="row align-items-center py-2">
                            <div class="col-1">
                                <input id="selectAll" type="checkbox">
                            </div>
                            <div class="col-2">
                                <p>Name</p>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-2">
                                <p>Last Updated</p>
                            </div>
                            <div class="col-2">
                                <p>Created</p>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <% for(var i=0; i < folder.length; i++) { %>
                         
                            <div class="row align-items-center py-2" onclick="submitform('<%= folder[i].folder_id %>')">
                                <div class="col-1">
                                    <input id="" type="checkbox" name="" value="8" />
                                    <!-- <div class="check"></div> -->
                                </div>
                                <div class="col-2 sgt-slide-list-image">
                                    <img class="img-fluid" src="/images/slide-image.svg">
                                </div>
                                <div class="col-4">
                                    <p><%= folder[i].folder_name %></p>
                                    <small><i class="fas fa-layer-group"></i> 1 slide</small>
                                </div>
                                <div class="col-2">
                                    <p>24 Apr 2021</p>
                                </div>
                                <div class="col-2">
                                    <p>24 Apr 2021</p>
                                </div>
                                <div class="col-1 text-right">
                                    <nav class="navbar-expand-sm">
                                        <div class="collapse navbar-collapse" id="navbar-list-5">
                                            <ul class="navbar-nav">
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <svg width="18" height="18" fill="none" xmlns="http://www.w3.org/2000/svg" name="kebab-menu" class="path-fill-current inline-block" viewBox="0 0 14 14"><circle cx="6.999" cy="3.366" r="1.121" transform="rotate(90 7 3.366)" fill="#999"></circle><circle cx="6.999" cy="6.999" r="1.121" transform="rotate(90 7 6.999)" fill="#999"></circle><circle cx="6.999" cy="10.631" r="1.121" transform="rotate(90 7 10.63)" fill="#999"></circle></svg>
                                                    </a>
                                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-play"></i> Present</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-download"></i> Export results</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-pen"></i> Rename</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-folder"></i> Move to folder</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-copy"></i> Duplicate</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Delete</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                       
                         <% } %>


                         <form action="/api/slide"  id="slideform" method="GET"> 
                             <input type="text"  style="visibility: hidden;" id="userid" name="userid">
                             <input type="text" style="visibility: hidden;"  id="folder_id" name="folder_id">
                            
                         </form>
   
                         <script>
                             function submitform(id) {
                              //   alert(id);
                                 document.getElementById("folder_id").value=id;
                                 var userid =  localStorage.getItem("loginUserID");
                                 document.getElementById("userid").value=userid;

                                 document.getElementById("slideform").submit();

                               // document.getElementById("myForm").submit();
                             }
                         </script>
                  

                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>
    <script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
    <script src="js/custom.js"></script>

    <script>
        $("#selectAll").click(function() {
            $("input[type=checkbox]").prop("checked", $(this).prop("checked"));
        });

        $("input[type=checkbox]").click(function() {
            if (!$(this).prop("checked")) {
                $("#selectAll").prop("checked", false);
            }
        });
    </script>

</body>

</html>