<!DOCTYPE html>
<html>
   <head>
      <title>Hello world</title>
   </head>
   <script src = "/socket.io/socket.io.js"></script>
   
   <script>
      var socket = io();
  
   //  socket.emit('newload','new user connected with this tan');;
   </script>
   <body>
   <h4>cliet</h4>
    
 
   <h4 id="input-data"></h4>
    <div id="options"> 
        
            <div style="display: flex;
            padding: 10px;
            width: 151px;
            margin-top: 17px;
            border: 1px solid;
            justify-content: flex-start;">
               <input type="radio" style="float: right;
               margin-top: 17px;" />
               <p id="choice1">Choice 1</p>
            </div>
      <br>
      <div style="display: flex;
      padding: 10px;
      width: 151px;
      border: 1px solid;
      justify-content: flex-start;">
         <input type="radio" style="float: right;
         margin-top: 17px;" />
         <p id="choice2">Choice 2</p>
      </div>


      <br>
      <div style="display: flex;
      padding: 10px;
      width: 151px;
      border: 1px solid;
      justify-content: flex-start;">
         <input type="radio" style="float: right;
         margin-top: 17px;" />
         <p id="choice3">Choice 3</p>
      </div>
    
         
    </div>
    
      <button id="btnsub">
                  Submit Answer
      </button>

   </body>
    <script>
      //   const log = document.getElementById('log');
         var para = document.getElementById("input-data");
         var choice1 = document.getElementById("choice1");  
         var choice2 = document.getElementById("choice2");  
         var choice3 = document.getElementById("choice3");   
         var btnsub = document.getElementById("btnsub");     
      //   log.addEventListener('keyup', (e) =>{
      //    log.style.display ="block";
      //           socket.emit('userdata',e.target.value);
      //       });

      //       socket.on('userdatasend', function(data) {
      //          console.log(data);
      //          log.style.display ="none";
      //          para.innerText =data.data;
      //       });
            
         socket.on('userdatasend', function (data) {
              para.innerText = data.data;
         });
      
         socket.on('userdatasendchoice1', function (data) {
            choice1.innerText = data.data;
         });
      
         socket.on('userdatasendchoice2', function (data) {
            choice2.innerText = data.data;
         });
      
         socket.on('userdatasendchoice3', function (data) {
            choice3.innerText = data.data;
         });

         socket.on('refresh', function (data) {
            window.location.reload(); 
         });

         socket.on('slideone', function (data) {
            console.log('get array',data);
            para.innerText = data.data[0];
            choice1.innerText=data.data[1];
            choice2.innerText=data.data[2];
            choice3.innerText=data.data[3];
         
         });

         btnsub.addEventListener('click',(e)=>{
            document.getElementById('options').style.display="none";
         })
         socket.emit("joinroom","1");
         socket.emit('newUseremit',res=>console.log(res));
         
         socket.on("err",(err)=>console.log(err));
         socket.on("success",(err)=>console.log(err));

        
         
    </script>
</html>